@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

* {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #BB2339;
  z-index: 1100000;
  padding: 25px 0;
}

.nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.nav .nav-r {
  display: flex;
  align-items: center;
}
.nav .nav-r button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  /* identical to box height, or 28px */
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
}
.nav .nav-r button:hover {
  transition: 0.5s;
  background-color: #FFFFFF;
  color: #BB2339;
}
.nav .nav-r .menus a {
  padding-right: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BB2339;
  transition: 0.5s;
}
#navbar-responsive a {
  color: #FFFFFF;
}

@media (max-width: 772px) {
  .menus a {
    display: none;
  }
  #navbar-open {
    display: block !important;
  }
  .log-1 {
    display: none !important;
  }
}
@media (max-width: 470px) {
  .log {
    display: none !important;
  }
}
.log-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  /* identical to box height, or 28px */
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
}

.log-1:hover {
  transition: 0.5s;
  background-color: #FFFFFF;
  color: #BB2339;
}

#navbar-close {
  border: none;
  background: transparent;
  max-width: 48px;
  padding-left: 80%;
}

#navbar-open {
  display: none;
  border: none;
  background: transparent;
}

.menus-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menus-r a {
  font-size: 50px;
  padding-bottom: 20px;
}

main {
  padding-top: 100px;
}

.footer-b {
  background: #BB2339;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
  position: absolute;
  top: 7px;
  z-index: 987;
  right: 0;
  left: 0;
}
.footer-b img {
  width: 100% !important;
}
.footer-b p {
  padding-top: 64px;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  /* identical to box height, or 30px */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  /* FFFFFF */
  color: #FFFFFF;
}
.footer-b h1 {
  padding: 24px 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
.footer-b h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* identical to box height, or 28px */
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-bottom: 64px;
}
.footer-b div {
  display: flex;
  max-width: 811px;
  margin: 0 auto;
  padding-bottom: 64px;
  justify-content: space-between;
}
.footer-b div input {
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
  padding: 12px 400px 12px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  /* identical to box height, or 28px */
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  /* AAAAAA */
  color: #AAAAAA;
  background-color: transparent;
}
.footer-b div button {
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  /* identical to box height, or 28px */
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 12px 32px;
}
.footer-b div button:hover {
  background-color: #fff;
  color: #BB2339;
  transition: 0.5s;
}

footer {
  position: relative;
  padding-top: 340px;
}

.footer-b * {
  text-align: center;
}

.footer-end {
  padding-top: 317px;
  position: relative;
  background-color: #BB2339;
}
.footer-end .footer-card h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  /* identical to box height, or 42px */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
.footer-end .footer-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.jhsrgu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-end * {
  text-align: center;
}

.pading {
  padding: 24px 0 10px;
}

.pading-2 {
  padding: 32px 47px;
}

.ycgvhbj {
  padding: 87px 0 40px;
}

@media (max-width: 800px) {
  .footer-b div {
    flex-direction: column;
    text-align: center;
  }
  .footer-b div input {
    width: 100%;
    padding: 0;
  }
  .footer-b div button {
    width: 144px;
    max-width: 144px;
    margin: 20px auto 0;
  }
  .jhsrgu {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 600px) {
  .jhsrgu {
    grid-template-columns: 1fr !important;
  }
}
.container {
  max-width: 1300px !important;
  margin: 0 auto !important;
  padding: 0 10px !important;
}

header {
  background-color: #BB2339;
}
header .header {
  padding: 183px 0 137px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .h-l h3 {
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  /* identical to box height, or 30px */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
header .header .h-l h1 {
  padding: 25px 0 20px;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  /* or 117px */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #FFFFFF;
}
header .header .h-l p {
  max-width: 453px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* or 28px */
  letter-spacing: 0.04em;
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 40px;
}
header .header .h-l button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  /* identical to box height, or 28px */
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
header .header .h-l button:hover {
  transition: 0.5s;
  background-color: #fff;
  color: #BB2339;
}

.sec-1 {
  padding: 120px 0;
  background: #F8F8F8;
  position: relative;
}

.begin-sc {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  /* qizil */
  color: #BB2339;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  padding-top: 40px;
}
.cards .card {
  padding: 20px 20px 40px;
  background: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 14px;
}
.cards .card p {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
  max-width: 270px;
}
.cards .card h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #BB2339;
}
.cards .card * {
  text-align: center;
}

.custom-carousel .carousel-indicators [data-bs-target] {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px 10px;
  transition: opacity 0.6s ease, width 0.5s ease;
}
.custom-carousel .carousel-indicators .active {
  width: 100px;
  opacity: 1;
}
.custom-carousel .carousel-control-next,
.custom-carousel .carousel-control-prev {
  top: -50px;
  bottom: auto;
  padding: 15px;
  width: 5%;
  border: 1px solid #646464;
  background-color: grey;
  border-radius: 6px;
}
.custom-carousel .carousel-control-next span,
.custom-carousel .carousel-control-prev span {
  color: #000;
}
.custom-carousel .carousel-control-next {
  right: 0;
}
.custom-carousel .carousel-control-prev {
  left: auto;
  right: 6%;
}

.img-4 {
  position: absolute;
  right: 300px;
  bottom: -45px;
  top: auto;
}

.cradds {
  padding: 120px 0;
}

.card-2 {
  background: #FFFFFF;
  border: 1px solid rgba(36, 36, 36, 0.1) !important;
  border-radius: 14px;
}

.tabs {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
}
.tabs button {
  border: 1px solid #BB2339;
  border-radius: 100px;
  background-color: transparent;
  padding: 10px 30px;
}
.tabs button a {
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #242424;
}
.tabs button:hover {
  background: #BB2339;
  /* qizil */
  transition: 0.5s;
  border: 1px solid #BB2339;
  border-radius: 100px;
}
.tabs button:hover a {
  color: #FFFFFF;
  transition: 0.5s;
}

.sdf * {
  text-align: center;
}

.sdf p {
  padding-top: 8px;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}

.sec-3 {
  padding: 100px 0;
  background: #F4F4F4;
}

.sec-2 {
  padding: 120px 0;
}

.cards-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  padding-top: 60px;
}

.card-3 {
  background: #FFFFFF;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 10px;
  padding: 30px 50px 30px 20px;
}
.card-3 .card-3__p {
  padding: 10px 0 20px;
}
.card-3 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  color: #333333;
  opacity: 0.7;
  max-width: 340px;
}
.card-3 h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  color: #333333;
}
.card-3 .dates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.card-3 .dates div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
}

.next,
.prev {
  top: auto !important;
  bottom: -90px !important;
  padding: 15px;
  width: 5%;
  border: 1px solid #646464;
  background-color: black;
  border-radius: 6px;
}
.next span,
.prev span {
  color: #000;
}

.next {
  right: 40% !important;
}

.prev {
  left: 40% !important;
}

.sec-4 {
  padding: 120px 0;
}
.sec-4 .sec-4__header * {
  text-align: center;
}
.sec-4 .sec-4__header p {
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  /* identical to box height, or 30px */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
.sec-4 .sec-4__header h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  /* qizil */
  color: #BB2339;
}
.sec-4 .cards-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  padding-top: 60px !important;
}
.sec-4 .cards-3 .card-3 {
  border-radius: 14px;
  padding: 0;
}
.sec-4 .cards-3 .card-3 img {
  width: 100% !important;
}
.sec-4 .cards-3 .card-3 .card-3__div {
  padding: 20px 20px 30px;
}
.sec-4 .cards-3 .card-3 .card-3__div h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
.sec-4 .cards-3 .card-3 .card-3__div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  /* AAAAAA */
  color: #AAAAAA;
}
.sec-4 .cards-3 .card-3 .card-3__div a {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.04em;
  /* qizil */
  color: #BB2339;
}
.sec-4 .cards-3 .card-3 .card-3__div div {
  display: flex;
  justify-content: space-between;
}

.modal-body img {
  width: 460px;
}

.sec-5 {
  background-image: url(../../images/bgc-5.png);
  background-size: 100vw;
  height: 650px;
  background-repeat: no-repeat;
  position: relative;
}

.img-play {
  background-color: transparent !important;
  border: none !important;
}

.uhuadf {
  text-align: center;
  min-width: 120px;
  padding: 250px 0;
}

.sec-6 {
  padding: 120px 0px;
}
.sec-6 .cardisaf {
  background: #F4F4F4;
  padding: 120px 0;
}
.sec-6 .cardisaf .cardisaf-r h4 {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  /* identical to box height, or 30px */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
.sec-6 .cardisaf .cardisaf-r h1 {
  padding-top: 8px;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
.sec-6 .cardisaf .cardisaf-r p {
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* or 28px */
  letter-spacing: 0.04em;
  color: #AAAAAA;
  max-width: 493px;
}
.sec-6 .cardisaf .cardisaf-r button {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  /* identical to box height, or 28px */
  letter-spacing: 0.04em;
  color: #242424;
  border: 1px solid #BB2339;
  border-radius: 100px;
  padding: 8px 32px;
  background: transparent;
}
.sec-6 .cardisaf .cardisaf-r button:hover {
  transition: 0.3s;
  background: #BB2339;
  color: white;
  border: 1px solid #BB2339;
}
.sec-6 .cardisaf .cardisaf-l {
  padding-left: 20px;
}

.card-img-10 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  max-width: 967px;
  margin: 0 auto;
}

.jnitr {
  display: flex;
  justify-content: space-between;
}

.card-img-10 div {
  position: relative;
}
.card-img-10 div .hover {
  opacity: 0;
  position: absolute;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.card-img-10 div .hover:hover {
  opacity: 0.8;
  transition: 0.5s;
}

@media (max-width: 1300px) {
  .header {
    flex-direction: column;
  }
  .header .h-l p {
    margin: 0 auto;
  }
  .header .h-l button {
    max-width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header .h-l h3 {
    font-size: 15px !important;
  }
  .header img {
    width: 100%;
  }
  .klop {
    font-size: 20px !important;
  }
  .header * {
    text-align: center;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
  .cards .card p {
    text-align: center;
    max-width: 270px;
    margin: 0 auto;
  }
  .tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1200px) {
  .tabs {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
  }
  .uhuadf {
    padding: 150px 0;
  }
  .jnitr {
    flex-direction: column;
  }
  .jnitr p {
    margin: 0 auto;
  }
  .cardisaf-r {
    padding-bottom: 20px;
  }
  .jnitr * {
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .card-img-10 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .uhuadf {
    padding: 100px 0 !important;
  }
}
@media (max-width: 700px) {
  .card-img-10 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 570px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .tabs {
    grid-template-columns: 1fr !important;
  }
  .cards-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}