nav {
    position: fixed;
    width: 100%;
    background-color: #BB2339;
    z-index: 1100000;
    padding: 25px 0;
}

.nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;

    .nav-r {
        display: flex;
        align-items: center;

        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 40px;
            font-weight: 600;
            font-size: 16px;
            line-height: 175%;
            /* identical to box height, or 28px */

            letter-spacing: 0.05em;
            text-transform: capitalize;

            color: #FFFFFF;
            background-color: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
        }

        button:hover {
            transition: 0.5s;
            background-color: #FFFFFF;
            color: #BB2339;
        }

        .menus {
            a {
                padding-right: 40px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                /* identical to box height */

                letter-spacing: 0.04em;

                color: #FFFFFF;

            }
        }
    }
}

#navbar-responsive {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BB2339;
    transition: 0.5s;

    a {
        color: #FFFFFF;
    }
}

@media (max-width: 772px) {
    .menus {
        a {
            display: none;
        }
    }

    #navbar-open {
        display: block !important;
    }

    .log-1 {
        display: none !important;
    }
}

@media (max-width: 470px) {
    .log {
        display: none !important;
    }
}

.log-1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    /* identical to box height, or 28px */

    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 100px;



}

.log-1:hover {
    transition: 0.5s;
    background-color: #FFFFFF;
    color: #BB2339;
}

#navbar-close {
    border: none;
    background: transparent;
    max-width: 48px;
    padding-left: 80%;
}

#navbar-open {
    display: none;
    border: none;
    background: transparent;
}

.menus-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        font-size: 50px;
        padding-bottom: 20px;
    }
}

main {
    padding-top: 100px;
}
